*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    height: 100vh;
}

.background{
    width: 100%;
    height: 100vh;
    background: url("./hero-bg.jpg") top center;
    background-size: cover;
    filter: blur(5px);
    position: relative;
    padding: 0;
    overflow: hidden;
}

header{
    position: absolute;
    width: 100%;
    top: 5%;
    z-index: 999;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: rgba(36, 36, 36, 0.479);
    margin-top: 1.5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    height: 5rem;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}

nav button:hover{
    color: rgba(250, 169, 19, 0.747);
}

nav h1{
    justify-self: flex-start;
}

.homePageContent{
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-60%, -25%);
    color: #fff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menuPageContent{
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    z-index: 999;
    font-size: 1.1rem;
}

.aboutPageContent{
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.4rem;
    z-index: 999;
    text-align: center;
    background-color: #fefae0ee;
}

#content h1{
    font-weight: bold;
}

#content p{
    color: #B99470;
    font-size: 2rem;
}

.aboutHeaders{
    color: #C4661F;
}

#content button{
    width: 12rem;
    height: 4rem;
    border-radius: 1.2rem;
    background: none;
    color: #fff;
    border: 1px solid rgb(209, 137, 4);
    font-weight: bold;
    cursor: pointer;
}

#content button:hover{
    border: 1px solid #fff;
    background-color: rgb(209, 137, 4);
}

.name-highlight{
    color: rgba(250, 169, 19, 0.747);
}

.sideContainers{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rightSideContainers{
    position: absolute;
    top:30%;
    right: 0;
    display: flex;
    gap: 7rem;
}

.leftSideContainers{
    display: flex;
    gap: 10rem;
}

.menuBox{
    background-color: rgba(36, 36, 36, 0.479);
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightCorner{
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.leftCorner{
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
